__pycache__/
.DS_Store

.cache/
.cache_magic/

imgs/
imgs
results/**/*.csv
latex/
latex
clusterings/
clusterings_/
clusterings_metrics/
clusterings_metrics.bak/
clustering_results/
clustering_results2/

.nfs*
*.log
*.err


TODOs.txt

ruff.toml
